/* 
    Created on : 17-Jan-2014, 20:52:19
    Author     : Mark Wilson
*/

.sumsol-entry{float:left; margin-bottom:10px;}
.sumsol-entry span.meta{ display:block; padding:0; width:50px; float:left; text-align:center;}
.sumsol-entry span.meta strong{ font-size:18px; background:#f6f6f6; color:#555; border:1px solid #ececec; display:block; float:left; width:100%; padding:5px 0;}
.sumsol-entry span.meta small{ font-size:11px; background:#72b626; border:1px solid #72b626; display:block; float:left; width:100%; padding:0; color:#fff;}
.sumsol-entry.entry div{ float:left; width:70%;}
.sumsol-entry div h4{ margin-bottom:10px; font-size:14px; margin-top: 0px !important;}
.sumsol-entry div h4 a{ color:#181818;}
.sumsol-entry div h4 a:hover{ color:gray;}

th.tb-sumsol {
    width: 50%;
}